.Barca {
    display: flex;
    justify-content: center;
}


.hover {
    height: 70px;
    width: 150px;
    border: 4px none;
    border-radius: 40px;
    background-color: rgb(92, 173, 253);
    cursor: pointer;
    transition: transform 0.5s ease;
    color: white;
    
  
    
}
.hover:hover {
    transform: scale(1.3);
    background-color: rgb(24, 114, 232);
    
   
   
}
header {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p { 
    font-size: 24;
}

video {
  height: 300px;
  width: 500px;
}


footer {
    background-color: lightgray;
}

table {

border: 4px solid black;
}
th, tr, td  {
    border: 2px solid black;
}

.vvod {

 height: 300px;
 width: 300px;
 display: block;
 margin: auto;
 border-radius: 50%;

 
}
.div-header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.telegram {
    height: 50px;
    width: 50px;
    padding: 15px;
    transition: transform 0.5s ease;
}
.telegram:hover {
    transform: scale(1.5);
}